<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Quality Verfication</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active" aria-current="page">Quality Verfication</li>
        </ol>
    </nav>
</div>
<p>
    <h2>Upload Data</h2>
    <form name="formQualityVerification" ng-submit="upload()">
        <label for="imgFile">Image: </label>
        <input type="file" name="imgFile" accept="image/x-png,image/jpeg" ng-model="imgFile" tr-files required>
        <button type="submit">Upload</button>
    </form>
</p>
<div ng-show="_imgFile">
    <p>
        <h2>Image</h2>
        <img ng-src="{{_imgFile}}">
    </p>
    <p>
        <h2>List of Data</h2>
        <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance">
        </table>
    </p>
</div>