<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">BIC Code Recognition</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active" aria-current="page">BIC Code Recognition</li>
        </ol>
    </nav>
</div>
<div id="imageLoader"></div>
<div class="card mg-t-10">
    <h6 class="card-header pd-t-20 pd-b-0 bd-b-0">List of Data</h6>
    <div class="card-body pd-20 ">
        <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance">
        </table>
    </div>
</div>

<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modalEdit" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form name="formEdit" class="modal-content tx-14" ng-submit="edit()">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel2">Edit Data</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="code" class="col-form-label">Code:</label>
                    <input type="text" class="form-control" id="code" ng-model="dataEdit.code">
                </div>
            </div>
            <div class=" modal-footer">
                <button type="submit" class="btn btn-primary tx-13">Save</button>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="modalViewImage" tabindex="-1" role="dialog" aria-labelledby="modalViewImage"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel2">Show Image</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <img class="img-fluid" ng-src="{{imgView.imgUrl}}">
                </div>
                <div class="table-responsive">
                    <table class="table table-dashboard mg-b-0 tr-fixed-table">
                        <tbody>
                            <tr>
                                <th>Date</th>
                                <td class="text-right ng-binding">{{imgView.date | date : 'medium'}}</td>
                            </tr>
                            <tr>
                                <th>Code</th>
                                <td class="text-right ng-binding">{{imgView.code}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>